*, ::after, ::before {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
}

body {
  background-color: lavender;
  font-family: sans-serif;
}

main {
  margin-left: 256px;
  padding: 40px 30px;
  font-weight: bolder;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

#userProfile > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: navy;
  height: 100%;
  position: fixed;
  overflow: auto;
}

div {
  display: block;
}

#userProfile {
  display: block;
  height: 100%;
  position: relative;
  shape-margin: 1px;
}

li > li {
  padding: 0 20px;
}

.topnav {
  background-color: #f8f9fa;
  margin-left: 253px;
  display: block;
  overflow: hidden;
  position: sticky;
  top: 0px;
  padding-left: 10px;
  z-index: 1020;
}


.topnav a {
  float: right;
  display: block;
  color: gray;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: normal;
}

#userProfile ul > li a {
  display: block;
  padding: 10px 16px;
  color: honeydew;
  text-decoration: none;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  list-style-type: none;
}